<% include ./partials/header %>

<div class="container">
            <div class="jumbotron">
                <h1>Robots Challenge</h1>
                <p class="lead">This method uses Request API calls, Express Routing and JavaScript Functions to display the deck. </p>
                <hr class="my-4">
                <p id="clickAButton">Are these your cards?</p>
                    <div class="row" >
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <a class="btn btn-lg btn-block" id="oneCard" href="/singlecard">Single Card</a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-6" id="multiple">
                            <a class="btn btn-lg btn-block" id="allCards" href="/allcards">Shuffle Cards</a>
                        </div>
                    </div>
                    <!--location for cards-->
                    <div class="row multiple" id="secondRow">
                            <% data1["cards"].forEach(function(cards) { %>
                                <div class="col-lg-4 col-sm-6 shuffledCards">
                                <img src = "<%= cards["image"] %>" >
                                </div>
                            <% }); %>
                    </div>
            </div>
        </div>

<% include ./partials/footer %>