<% include ./partials/header %>

        <div class="container">
            <div class="jumbotron">
                <h1>Robots Challenge</h1>
                <p class="lead">This method uses JavaScript Conditions and jQuery Events to iterate through an array and either pick a random card or shuffle them. </p>
                <hr class="my-4">
                <p id="clickAButton">Click a button, any button!</p>
                    <div class="row" >
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <!--jQuery click function to run singleCard()-->
                            <button name="oneCard" id="oneCard" class="btn btn-lg btn-block" placeholder="One Card">
                                Random Card</button>
                                <script>
                                    $("#oneCard").click(function(){
                                        return singleCard();
                                    });
                                </script>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-6" id="multiple">
                            <!--jQuery click function to run shuffleCards()-->
                            <button name="shuffle" id="shuffle" class="btn btn-lg btn-block" placeholder="All the Cards">
                                All the Cards</button>
                                <script>
                                    $("#shuffle").click(function(){
                                       return shuffleCards();
                                    });
                                </script>
                        </div>
                    </div>
                    <!--location to append shuffleCards()-->
                    <div class="row multiple" id="secondRow">
                        <div class="col-lg-4 col-sm-6">
                        </div>
                        <!--location to append singleCard()-->
                        <div class="col-lg-4 col-sm-6" id="single">
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        </div>
                    </div>
            </div>
        </div>

<% include ./partials/footer %>