<% include ./partials/header %>

<div class="container">
            <div class="jumbotron">
                <h1>Robots Challenge</h1>
                <p class="lead">This method uses Request API calls, Express Routing and JavaScript Functions to display the first card of a new deck. </p>
                <hr class="my-4">
                <p id="clickAButton">Is this your card?!</p>
                    <div class="row" >
                        <div class="col-lg-4 col-sm-6 col-xs-6">
                            <a class="btn btn-lg btn-block" id="oneCard" href="/singlecard">Different Card</a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-6" id="multiple">
                            <a class="btn btn-lg btn-block" id="allCards" href="/allcards">All the Cards</a>
                        </div>
                    </div>
                    <div class="row multiple" id="secondRow">
                        <div class="col-lg-4 col-sm-6">
                        </div>
                        <!--location to append singleCard()-->
                        <div class="col-lg-4 col-sm-6" id="singleCard">
                            <% data1["cards"].forEach(function(cards) { %>
                                    <img src = "<%= cards["image"] %>" >
                            <% }); %>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        </div>
                    </div>
            </div>
        </div>

<% include ./partials/footer %>